<div class="container my-5">
    <div class="row">
        
        @for (item of products; track $index) {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <app-card
                    [description]="item.description"
                    [image]="item.image"
                    [name]="item.name"
                    [price]="item.price"
                  ></app-card>
                </div>   
            </div>
         
            <!-- <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img [src]="item.image" class="card-img-top" alt="{{item.name}}">
                    <div class="card-body">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <p class="card-text"><strong>Price:</strong> ${{item.price}}</p>
                        <a class="btn btn-primary">Buy Now</a>
                    </div>
                </div>   
            </div>
             -->
            }
    </div>
</div>

